---
clusterName: highglade-cluster
talosVersion: v1.9.5
kubernetesVersion: v1.32.3
endpoint: https://${ENDPOINT_DOMAIN}:6443
domain: cluster.highglade.local
allowSchedulingOnMasters: true
additionalMachineCertSans:
  - ${ENDPOINT_DOMAIN}
  - ${ENDPOINT_IP}
  - ${CP1}
  - ${CP2}
  - ${CP3}
additionalApiServerCertSans:
  - ${ENDPOINT_DOMAIN}
  - ${ENDPOINT_IP}
  - ${CP1}
  - ${CP2}
  - ${CP3}
  - discovery.talos.dev
clusterPodNets:
  - ${POD_SUBNET}
clusterSvcNets:
  - ${SERVICE_SUBNET}
cniConfig:
  name: "none"
patches:
  - |-
    cluster:
      proxy:
        disabled: true
  - |-
    - op: add
      path: /machine/env
      value:
        GRPC_GO_LOG_SEVERITY_LEVEL: error
  - "@./patches/openebs-patch.yaml"

controlPlane:
  nameservers:
    - 10.30.0.1
  ingressFirewall:
    defaultAction: block
    rules:
      - name: kubelet-ingress
        portSelector:
          ports:
            - 10250
          protocol: tcp
        ingress:
          - subnet: ${CLUSTER_SUBNET}
          - subnet: ${CLUSTER_SUBNET_IPV6}
      - name: apid-ingress
        portSelector:
          ports:
            - 50000
          protocol: tcp
        ingress:
          - subnet: ${CLUSTER_SUBNET}
          - subnet: ${CLUSTER_SUBNET_IPV6}
      - name: trustd-ingress
        portSelector:
          ports:
            - 50001
          protocol: tcp
        ingress:
          - subnet: ${CLUSTER_SUBNET}
          - subnet: ${CLUSTER_SUBNET_IPV6}
      - name: kubernetes-api-ingress
        portSelector:
          ports:
            - 6443
          protocol: tcp
        ingress:
          - subnet: ${CLUSTER_SUBNET}
          - subnet: ${CLUSTER_SUBNET_IPV6}
      - name: etcd-ingress
        portSelector:
          ports:
            - 2379-2380
          protocol: tcp
        ingress:
          - subnet: $CP1/32
          - subnet: $CP2/32
          - subnet: $CP3/32
      - name: openebs
        portSelector:
          ports:
            - 10124
            - 8420
            - 4421
          protocol: tcp
        ingress:
          - subnet: ${CLUSTER_SUBNET}
          - subnet: ${CLUSTER_SUBNET_IPV6}
      - name: web
        portSelector:
          ports:
            - 80
          protocol: tcp
        ingress:
          - subnet: ${CLUSTER_SUBNET}
          - subnet: ${CLUSTER_SUBNET_IPV6}
      - name: cni-vxlan
        portSelector:
          ports:
            - $VXLAN_PORT
            - $FLANNEL_PORT
          protocol: udp
        ingress:
          - subnet: $CLUSTER_SUBNET
          - subnet: ${CLUSTER_SUBNET_IPV6}

  machineSpec:
    mode: metal
    arch: amd64
    secureboot: false
  schematic:
    customization:
      extraKernelArgs:
        - talos.platform=metal
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
  nodeAnnotations:
    installerUrl: "{{ .MachineConfig.MachineInstall.InstallImage }}"
  disableSearchDomain: true
  kernelModules:
    - name: br_netfilter
      parameters:
        - nf_conntrack_max=131072
  patches:
    - "@./patches/mayastor-patch-cp.yaml"

worker:
  ingressFirewall:
    defaultAction: block
    rules:
      - name: apid-ingress
        portSelector:
          ports:
            - 50000
          protocol: tcp
        ingress:
          - subnet: 0.0.0.0/0
          - subnet: ::/0
      - name: kubelet-ingress
        portSelector:
          ports:
            - 10250
          protocol: tcp
        ingress:
          - subnet: $CLUSTER_SUBNET
      - name: cni-vxlan
        portSelector:
          ports:
            - $VXLAN_PORT
            - $FLANNEL_PORT
          protocol: udp
        ingress:
          - subnet: $CLUSTER_SUBNET

  machineSpec:
    mode: metal
    arch: amd64
    secureboot: false
  schematic:
    customization:
      extraKernelArgs:
        - talos.platform=metal
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
  nodeAnnotations:
    installerUrl: "{{ .MachineConfig.MachineInstall.InstallImage }}"
  disableSearchDomain: true
  kernelModules:
    - name: br_netfilter
      parameters:
        - nf_conntrack_max=131072

nodes:
  - hostname: sentinel-1
    installDisk: /dev/sdb
    ipAddress: 10.30.0.161
    controlPlane: true
    # machineDisks:
    #   - device: /dev/sdb
    networkInterfaces:
      - interface: eno1
        addresses:
          - 10.30.0.161/24
        mtu: 1500
        routes:
          - network: 10.30.0.0/24
            gateway: 10.30.0.1
  - hostname: sentinel-2
    installDisk: /dev/sdb
    ipAddress: 10.30.0.162
    controlPlane: true
    # machineDisks:
    #   - device: /dev/sdb
    #     partitions:
    #       - mountpoint: /var/mnt/sata
    networkInterfaces:
      - interface: eno1
        addresses:
          - 10.30.0.162/24
        mtu: 1500
        routes:
          - network: 10.30.0.0/24
            gateway: 10.30.0.1
  - hostname: sentinel-3
    installDisk: /dev/nvme0n1
    ipAddress: 10.30.0.163
    controlPlane: true
    # machineDisks:
    #   - device: /dev/sdb
    #     partitions:
    #       - mountpoint: /var/mnt/sata
    networkInterfaces:
      - interface: eno1
        addresses:
          - 10.30.0.163/24
        mtu: 1500
        routes:
          - network: 10.30.0.0/24
            gateway: 10.30.0.1

  - hostname: sentinel-4
    installDisk: /dev/sdb
    ipAddress: 10.30.0.163
    controlPlane: false
    # machineDisks:
    #   - device: /dev/sdb
    #     partitions:
    #       - mountpoint: /var/mnt/sata
    networkInterfaces:
      - interface: eno1
        addresses:
          - 10.30.0.164/24
        mtu: 1500
        routes:
          - network: 10.30.0.0/24
            gateway: 10.30.0.1
  - hostname: sentinel-5
    installDisk: /dev/sdb
    ipAddress: 10.30.0.165
    controlPlane: false
    # machineDisks:
    #   - device: /dev/sdb
    #     partitions:
    #       - mountpoint: /var/mnt/sata
    networkInterfaces:
      - interface: eno1
        addresses:
          - 10.30.0.165/24
        mtu: 1500
        routes:
          - network: 10.30.0.0/24
            gateway: 10.30.0.1
  - hostname: sentinel-6
    installDisk: /dev/nvme0n1
    ipAddress: 10.30.0.166
    controlPlane: false
    # machineDisks:
    #   - device: /dev/nvme0n1
    #     partitions:
    #       - mountpoint: /var/mnt/sata
    networkInterfaces:
      - interface: eno1
        addresses:
          - 10.30.0.166/24
        mtu: 1500
        routes:
          - network: 10.30.0.0/24
            gateway: 10.30.0.1
