talosconfig
highglade-cluster-sentinel-1.yaml
highglade-cluster-sentinel-2.yaml
highglade-cluster-sentinel-3.yaml
highglade-cluster-sentinel-4.yaml
highglade-cluster-sentinel-5.yaml
highglade-cluster-sentinel-6.yaml
