apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base

patches:
  - target:
      group: rbac.authorization.k8s.io/v1
      name: traefik-cluster-role
      kind: ClusterRole
    path: ./rbac/cluster-role.yaml
  - target:
      group: rbac.authorization.k8s.io/v1
      name: traefik-cluster-role-binding
      kind: ClusterRoleBinding
    path: ./rbac/cluster-role-binding.yaml

namespace: network
